<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sh.aplikasiku">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aplikasiku">
        <activity
            android:name=".ui.profile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.artikel.TampilArtikel"
            android:exported="false" />
        <activity
            android:name=".ui.rekammedis.TampilanRekam"
            android:exported="false" />
        <activity
            android:name=".ui.pantaukehamilan.TampilPantauKehamilan"
            android:exported="false" />
        <activity
            android:name=".ui.Splashscreen"
            android:exported="true"
            android:theme="@style/Theme.Aplikasiku.AppThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.artikel.EditArtikel"
            android:exported="false" />
        <activity
            android:name=".ui.rekammedis.EditRekam"
            android:exported="false" />
        <activity
            android:name=".ui.pantaukehamilan.EditPantau"
            android:exported="false" />
        <activity
            android:name=".ui.entry.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.Aplikasiku.NoActionBar" />
        <activity
            android:name=".ui.entry.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.Aplikasiku.NoActionBar" />
        <activity
            android:name=".ui.Rujukan"
            android:exported="false" />
        <activity
            android:name=".ui.rekammedis.RekamMedis"
            android:exported="false" />
        <activity
            android:name=".ui.artikel.Artikel"
            android:exported="false" />
        <activity
            android:name=".ui.pantaukehamilan.PantauKehamilan"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Aplikasiku.NoActionBar" />
    </application>

</manifest>